p {
    margin: 0;
    padding: 0;
}

.form-control {
    width: 80vw;
}

.userInfo {
    text-align: center;
}

.box {
    border-radius: 25px;
}

.img-container {
    text-align: center;
}

.credentials-container {
    margin-top: 1em;
}

.role-container {
    margin-bottom: 1em;
}

#updateBtn {
    margin-bottom: 0.5em;
}

@media screen and (min-width: 560px) {
    .userInfo {
        width: 560px;
    }    
}

@media screen and (min-width: 760px) {
    .form-control {
        width: 350px;
    }
    
    .userInfo {
        width: 760px;
        text-align: left;
    }

    .credentials-container {
        margin-top: 0;
    }
    
    .role-container {
        margin-bottom: 0;
    }

    #updateBtn {
        margin-top: 0.5em;
    }
}

@media screen and (min-width: 960px) {
    .userInfo {
        width: 960px;
        text-align: left;
    }

    .img-container {
        text-align: left;
    }

    .credentials-container {
        margin-top: 0;
    }
    
    .role-container {
        margin-bottom: 0;
    }
}
