<app-navbar [user]="currentUser"></app-navbar>
<div class="flex flex-col items-center gap-4 mt-[15vh]">
    <h2 class="w-screen text-center text-slate-100 text-3xl font-bold">User Data</h2>

    <div class="relative">
        <lucide-icon name="search" class="absolute top-0 m-1 text-slate-400" />
        <input 
            class="w-full pl-10 py-2 pr-6 bg-slate-100 rounded-2xl placeholder-sm placeholder-slate-400 focus:outline-sky-500"
            type="text" 
            placeholder="Search User"
            [(ngModel)]="searchText" 
            (ngModelChange)="searchUser()"
        />
        <lucide-icon 
            name="x" 
            class="w-[0.85em] absolute top-0 right-0 m-1 text-slate-400 transition-colors hover:text-slate-500" 
            (click)="clearSearch()"
            [hidden]="!searchText"
        />
    </div>

    <div class="p-2 flex items-center justify-center gap-2 text-slate-100 bg-green-600 rounded-2xl" [hidden]="!successMessage">
        <lucide-icon name="circle-check" />
        <p>{{ successMessage }}</p>
    </div>

    <div class="p-2 flex items-center justify-center gap-2 text-slate-100 bg-red-600 rounded-2xl" [hidden]="!errorMessage">
        <lucide-icon name="circle-alert" />
        <p>{{ errorMessage }}</p>
    </div>
    
    <form 
        class="w-full px-6 md:w-1/3 md:px-0 flex flex-col gap-2"
        [formGroup]="userForm" 
        (ngSubmit)="addUser()" [hidden]="!showUserForm"
    >
        <input 
            class="w-full px-3 py-2 bg-slate-100 rounded-2xl placeholder-sm placeholder-slate-400 focus:outline-sky-500"
            type="text" 
            id="username" 
            formControlName="username" 
            placeholder="Username" 
            required
        />
        <input 
            class="w-full px-3 py-2 bg-slate-100 rounded-2xl placeholder-sm placeholder-slate-400 focus:outline-sky-500"
            type="text" 
            id="password" 
            formControlName="password" 
            placeholder="Password" 
            required
        />
        <div>
            <label for="roles" class="text-sm text-slate-100">Select a role:</label>
            <select 
                class="w-full px-3 py-2 bg-slate-100 tetx-s rounded-2xl focus:outline-sky-500"
                id="roles" 
                formControlName="role"
                required
            >
                <option value="">Select a role:</option>
                <option value="Administrator">Administrator</option>
                <option value="Manager">Manager</option>
                <option value="User">User</option>
            </select>
        </div>

        <div class="w-full flex gap-2 ">
            <button class="grow-1 px-3 py-2 mt-4 rounded-2xl bg-slate-500 text-slate-100 transition-colors hover:bg-slate-600" (click)="displayUserForm()">Cancel</button>
            <button type="submit" class="grow-1 px-3 py-2 mt-4 rounded-2xl bg-blue-500 text-slate-100 transition-colors hover:bg-blue-600" [disabled]="userForm.invalid">Submit</button>
        </div>
    </form>

    <div class="w-full p-4 grid md:grid-cols-4 gap-4">
        @if (filteredUsers && searchText) {
            @for (user of filteredUsers; track user.id) {
                <div class="p-4 flex flex-col items-center justify-center gap-1 text-slate-900 bg-slate-100/50 backdrop-blur-sm rounded-lg">
                    <p class="font-bold">{{ user.username }}</p>
                    <p class="opacity-50">ID: {{ user.id }}</p>
                    @switch (user.role) {
                        @case ("Administrator") {
                            <lucide-icon name="shield-user" class="p-1 text-slate-100 bg-red-500 rounded-full" size="50" strokeWidth="1" />
                        }
                        @case ("Manager") {
                            <lucide-icon name="shield-user" class="p-1 text-slate-100 bg-amber-500 rounded-full" size="50" strokeWidth="1" />
                        }
                        @case ("User") {
                            <lucide-icon name="shield-user" class="p-1 text-slate-100 bg-blue-500 rounded-full" size="50" strokeWidth="1" />
                        }
                        @default {
                            <lucide-icon name="shield-user" class="p-1 text-slate-100 bg-slate-900 rounded-full" size="50" strokeWidth="1" />
                        }
                    }
                    <p>{{ user.role }}</p>
                    <div class="flex items-center justify-center gap-2">
                        @if (user.hiddenPwd) {
                            <p>
                                @for (char of user.password; let i = $index; track i) {
                                    <span>&bull;</span>
                                }
                            </p>
                        }
                        @else {
                            <p>{{ user.password || "Unknown" }}</p>
                        }
                        <lucide-icon [name]="user.hiddenPwd ? 'eye' : 'eye-closed'" [title]="user.hiddenPwd ? 'Show Password' : 'Hide Password'" (click)="togglePassword(user)" />
                    </div>
                    <div class="mt-2 flex gap-2">
                        <button 
                            class="p-2 rounded-full text-slate-100 bg-sky-500/70 transition-colors hover:bg-sky-500" 
                            title="Update {{ user.username }}'s account"
                            (click)="updateUser(user)"
                        >
                            <lucide-icon name="square-pen" />
                        </button>
                        <button 
                            class="p-2 rounded-full text-slate-100 bg-red-500/70 transition-colors hover:bg-red-500" 
                            title="Delete {{ user.username }}'s account"
                            (click)="deleteUser(user.id)"
                        >
                            <lucide-icon name="trash-2" />
                        </button>
                    </div>
                </div>
            }
            @empty {
                <h6 class="col-span-4 text-center text-slate-100 text-lg">No results</h6>
            }
        }
        @else {
            <div class="p-4 flex flex-col items-center justify-center gap-2 text-slate-900 bg-slate-100/30 backdrop-blur-sm rounded-lg">
                <p class="font-bold">Add new user</p>
                <button 
                    class="p-2 rounded-full text-slate-100 bg-blue-500 transition-colors hover:bg-blue-600" 
                    title="Add new user"
                    (click)="displayUserForm()"
                >
                    <lucide-icon name="plus" />
                </button>
            </div>
            @for (user of allUsers; track user.id) {
                <div class="p-4 flex flex-col items-center justify-center gap-1 text-slate-900 bg-slate-100/30 backdrop-blur-sm rounded-lg">
                    <p class="font-bold">{{ user.username || "Unknown" }}</p>
                    <p class="opacity-50">ID: {{ user.id }}</p>
                    @switch (user.role) {
                        @case ("Administrator") {
                            <lucide-icon name="shield-user" class="p-1 text-slate-100 bg-red-500 rounded-full" size="50" strokeWidth="1" />
                        }
                        @case ("Manager") {
                            <lucide-icon name="shield-user" class="p-1 text-slate-100 bg-amber-500 rounded-full" size="50" strokeWidth="1" />
                        }
                        @case ("User") {
                            <lucide-icon name="shield-user" class="p-1 text-slate-100 bg-blue-500 rounded-full" size="50" strokeWidth="1" />
                        }
                        @default {
                            <lucide-icon name="shield-user" class="p-1 text-slate-100 bg-slate-900 rounded-full" size="50" strokeWidth="1" />
                        }
                    }
                    <p>{{ user.role || "Unknown" }}</p>
                    <div class="flex items-center justify-center gap-2">
                        @if (user.hiddenPwd) {
                            <p>
                                @for (char of user.password; let i = $index; track i) {
                                    <span>&bull;</span>
                                }
                            </p>
                        }
                        @else {
                            <p>{{ user.password || "Unknown" }}</p>
                        }
                        <lucide-icon [name]="user.hiddenPwd ? 'eye' : 'eye-closed'" [title]="user.hiddenPwd ? 'Show Password' : 'Hide Password'" (click)="togglePassword(user)" />
                    </div>
                    <div class="mt-2 flex gap-2">
                        <button 
                            class="p-2 rounded-full text-slate-100 bg-sky-500/70 transition-colors hover:bg-sky-500" 
                            title="Update {{ user.username }}'s account"
                            (click)="updateUser(user)"
                        >
                            <lucide-icon name="square-pen" />
                        </button>
                        <button 
                            class="p-2 rounded-full text-slate-100 bg-red-500/70 transition-colors hover:bg-red-500" 
                            title="Delete {{ user.username }}'s account"
                            (click)="deleteUser(user.id)"
                        >
                            <lucide-icon name="trash-2" />
                        </button>
                    </div>
                </div>
            } @empty {
                <h6 class="col-span-4 text-center text-slate-100 text-lg">There are no users.</h6>
            }
        }
    </div>

</div>