<app-navbar></app-navbar>
<div class="min-h-screen w-1/2 md:w-1/3 mx-auto flex flex-col justify-center items-center">
    <form 
        class="w-full flex flex-col items-center gap-2"
        [formGroup]="signUpForm" 
        (ngSubmit)="onSubmit()"
    >
        <h1 class="w-screen text-center text-slate-100 text-4xl font-bold">Sign Up</h1>
        <div class="w-full flex flex-col items-center gap-1">
            <div class="w-full flex items-center relative">
                <input 
                    class="w-full px-3 py-2 bg-slate-100 rounded-2xl placeholder-sm placeholder-slate-400 border-2
                        {{ hasErrors(usernameControl) ? 'border-red-600' : (usernameControl.valid ? 'border-green-600' : 'border-none') }}
                        focus:outline-sky-500"
                    type="text" 
                    id="username" 
                    formControlName="username"
                    placeholder="Username"
                />
                <lucide-icon name="check" [hidden]="!usernameControl.valid" class="absolute top-0 right-0 m-1 translate-x-5 text-green-600" />
            </div>
            <app-inline-error [control]="usernameControl"></app-inline-error>
        </div>

        <div class="w-full flex flex-col items-center justify-center gap-1">
            <div class="w-full flex items-center relative">
                <input 
                    class="w-full px-3 py-2 bg-slate-100 rounded-2xl placeholder-sm placeholder-slate-400 border-2
                        {{ hasErrors(passwordControl) ? 'border-red-600' : (matchAll(passwordControl.value) ? 'border-green-600' : 'border-none') }}
                        focus:outline-sky-500"
                    [type]="hidden ? 'password' : 'text'"
                    id="password" 
                    formControlName="password"
                    placeholder="Password"
                />
                <lucide-icon 
                    [name]="hidden ? 'eye' : 'eye-closed'"
                    class="absolute top-0 right-0 m-1 text-slate-400 transition-colors hover:text-slate-500" 
                    (click)="togglePassword()"
                />
                <lucide-icon name="check" [hidden]="!matchAll(passwordControl.value)" class="absolute top-0 right-0 m-1 translate-x-5 text-green-600" />
            </div>
            @if (passwordControl.value) {
                <div class="w-full flex flex-col items-center">
                    <div class="flex flex-col">
                        @for (req of pwdReqs; let i = $index; track i) {
                            <p class="flex items-center gap-2 {{ req.check(passwordControl.value) ? 'text-green-700' : 'text-red-600' }}">
                                <lucide-icon [name]="req.check(passwordControl.value) ? 'check' : 'x'" size="16" />
                                <span>{{ req.message }}</span>
                            </p>
                        }
                    </div>
                </div>
            }
            <app-inline-error [control]="passwordControl"></app-inline-error>
        </div>

        <div class="w-full flex flex-col items-center gap-1">
            <div class="w-full flex items-center relative">
                <input 
                    class="w-full px-3 py-2 bg-slate-100 rounded-2xl placeholder-sm placeholder-slate-400 border-2
                        {{ hasErrors(confirmControl) ? 'border-red-600' : (passwordsMatch() ? 'border-green-600' : 'border-none') }}
                        focus:outline-sky-500"
                    [type]="hidden2 ? 'password' : 'text'"
                    id="confirmPassword" 
                    formControlName="confirm"
                    placeholder="Confirm Password"
                />
                <lucide-icon 
                    [name]="hidden2 ? 'eye' : 'eye-closed'"
                    class="absolute top-0 right-0 m-1 text-slate-400 transition-colors hover:text-slate-500" 
                    (click)="togglePassword2()"
                />
                <lucide-icon name="check" [hidden]="!passwordsMatch()" class="absolute top-0 right-0 m-1 translate-x-5 text-green-600" />
            </div>
            <app-inline-error [control]="confirmControl"></app-inline-error>
        </div>

        <button 
            class="w-full my-4 px-3 py-2 rounded-2xl text-slate-100 transition-colors 
                {{ signUpForm.valid && matchAll(passwordControl.value) && passwordsMatch() ? 'bg-blue-500 hover:bg-blue-600 focus:outline-sky-500' : 'bg-blue-400'}}" 
            type="submit"
            [disabled]="!signUpForm.valid || !matchAll(passwordControl.value) || !passwordsMatch()"
        >
            Create Account
        </button>
    </form>
    <a class="text-blue-500 text-center transition-colors hover:text-blue-600 focus:outline-sky-500" routerLink="/login">
        Already have an account? <br class="md:hidden">Sign in!
    </a>
</div>

@if (showLoadingModal) {
    <div class="fixed inset-0 backdrop-blur-sm flex items-center justify-center z-50">
        <app-loading [users]="users" />
    </div>
}