<app-navbar></app-navbar>
<div class="h-75 d-flex flex-column justify-content-center align-items-center text-center">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="mt-5">
        <h1>Sign Up</h1>
        <p class="text-danger" [hidden]="signUpForm.dirty || signUpForm.touched">{{ alertMessage }}</p>
        <p class="text-success" [hidden]="signUpForm.dirty || signUpForm.touched">{{ successMessage }}</p>
       
        <div class="form-floating mt-3">
            <input type="text" id="uname" class="form-control" formControlName="username" placeholder="Username"
                [ngStyle]="hasErrors(usernameControl) ? {'border-color':'#dc3545'} : (usernameControl.valid ? {'border-color': '#198754'} : {})">
            <label for="uname" class="form-label">Username</label>
            <i id="unameCheckmark" [ngClass]="usernameControl.valid ? 'bi-check2 text-success checkmark' : ''"></i>
        </div>
        <app-inline-error [control]="usernameControl"></app-inline-error>
        
        <ng-template #requirements>
            <ng-container *ngIf="passwordControl.value.length >= 6; else tooShort">
                <p class="text-success"><i class="bi bi-check2"></i> {{ req1 }}</p>
            </ng-container>
            <ng-template #tooShort>
                <p class="text-danger"><i class="bi bi-x"></i> {{ req1 }}</p>
            </ng-template>
            <ng-container *ngIf="matchUpper(passwordControl.value); else noUpper">
                <p class="text-success"><i class="bi bi-check2"></i> {{ req2 }}</p>
            </ng-container>
            <ng-template #noUpper>
                <p class="text-danger"><i class="bi bi-x"></i> {{ req2 }}</p>
            </ng-template>
            <ng-container *ngIf="matchLower(passwordControl.value); else noLower">
                <p class="text-success"><i class="bi bi-check2"></i> {{ req3 }}</p>
            </ng-container>
            <ng-template #noLower>
                <p class="text-danger"><i class="bi bi-x"></i> {{ req3 }}</p>
            </ng-template>
            <ng-container *ngIf="matchNum(passwordControl.value); else noNum">
                <p class="text-success"><i class="bi bi-check2"></i> {{ req4 }}</p>
            </ng-container>
            <ng-template #noNum>
                <p class="text-danger"><i class="bi bi-x"></i> {{ req4 }}</p>
            </ng-template>
            <ng-container *ngIf="matchSpecial(passwordControl.value); else noSpecial">
                <p class="text-success"><i class="bi bi-check2"></i> {{ req5 }}</p>
            </ng-container>
            <ng-template #noSpecial>
                <p class="text-danger"><i class="bi bi-x"></i> {{ req5 }}</p>
            </ng-template>
        </ng-template>

        <div class="my-4">
            <div class="form-floating d-flex align-items-center">
                <input [type]="hidden ? 'password' : 'text'" id="pwd" class="form-control" formControlName="password" placeholder="Password"
                    [ngStyle]="hasErrors(passwordControl) ? {'border-color':'#dc3545'} : (matchAll(passwordControl.value) ? {'border-color':'#198754'} : {})"
                    [ngbPopover]="requirements" popoverTitle="Requirements" placement="right top" container="body">
                <label for="pwd" class="form-label">Password</label>
                <button type="button" class="btn eyeBtn" (click)="togglePassword()"><i [ngClass]="hidden ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i></button>
                <i [ngClass]="matchAll(passwordControl.value) ? 'bi bi-check2 text-success checkmark' : ''"></i>
            </div>
            <app-inline-error [control]="passwordControl"></app-inline-error>
        </div>

        <div class="mb-4">
            <div class="form-floating d-flex align-items-center">
                <input [type]="hidden2 ? 'password' : 'text'" id="confirmPwd" class="form-control" formControlName="confirm" placeholder="Confirm Password"
                    [ngStyle]="hasErrors(confirmControl) ? {'border-color':'#dc3545'} : (passwordsMatch() ? {'border-color':'#198754'} : {})">
                <label for="confirmPwd" class="form-label">Confirm Password</label>
                <button type="button" class="btn eyeBtn" (click)="togglePassword2()"><i [ngClass]="hidden2 ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i></button>
                <i [ngClass]="passwordsMatch() ? 'bi-check2 text-success checkmark' : ''"></i>
            </div>
            <app-inline-error [control]="confirmControl"></app-inline-error>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-2" [disabled]="signUpForm.invalid || !matchAll(passwordControl.value) || !passwordsMatch()">Create Account</button>
    </form>
    <a class="nav-link mx-5" role="button" routerLink="/login">Already have an account? Sign in!</a>
</div>