#uname {
    width: 80vw;
}

.eyeBtn {
    width: 3.6em;
    height: 3.6em;
    background-color: rgb(230, 230, 230);
}

.checkmark {
    position: absolute;
    right: 2.5em;
    font-size: 1.5em;
}

@media screen and (min-width: 760px) {
    #uname {
        width: 350px;
    }
}

@media screen and (min-width: 960px) {
    #uname {
        width: 350px;
    }

    .checkmark {
        right: 2.5em;
    }
}