<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand mb-0 mx-3 d-flex align-items-center">
            <img src="assets/shield-blue.png" alt="Authentication System logo">
            <span class="m-2">Authentication System</span>
        </h1>

        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
            &#9776;
        </button>

        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li></li>
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled">
                            {{ user ? "Hi " + user.username + "!" : "" }}
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" role="button" (click)="openFAQ()">FAQ</a>
                    </li>
                    <ng-container *ngIf="user; else signup">
                        <li>
                            <a class="nav-link" role="button" (click)="confirmLogout()">Logout</a> 
                        </li>
                    </ng-container>
                    <ng-template #signup>
                        <li>
                            <a class="nav-link" role="button" routerLink="/login"> Sign In</a>
                        </li>
                        <li>
                            <a class="nav-link" role="button" routerLink="/signup"> Sign Up</a>
                        </li>
                    </ng-template>
                </ul>
            </span>
        </div>
    </div>
</nav>