<div class="w-full p-4 fixed top-0">
    <nav class="flex justify-between items-center">
        <h1 class="flex items-center">
            <img src="assets/shield-blue.png" alt="Authentication System logo" width="50" />
            <span class="font-semibold text-slate-100 hover:cursor-default">Authentication System</span>
        </h1>

        <ul class="flex items-center gap-4 text-slate-100">
            @if (user) {
                <li>Welcome, {{ user.username }}</li>
                <li class="transition-all hover:opacity-80">
                    <a class="hover:cursor-default" routerLink="/login">Logout</a>
                </li>
            }
            @else {
                <li class="transition-all hover:opacity-80">
                    <a class="hover:cursor-default" routerLink="/login">Login</a>
                </li>
                <li class="transition-all hover:opacity-80">
                    <a class="hover:cursor-default" routerLink="/signup">Sign Up</a>
                </li>
            }
        </ul>

        <!-- <button type="button" class="text-slate-100" (click)="isCollapsed = !isCollapsed">
            &#9776;
        </button> -->
    
        <!-- <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li></li>
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled">
                            {{ user ? "Hi " + user.username + "!" : "" }}
                        </a>
                    </li>
                    <ng-container *ngIf="user; else signup">
                        <li>
                            <a class="nav-link" role="button">Logout</a> 
                        </li>
                    </ng-container>
                    <ng-template #signup>
                        <li>
                            <a class="nav-link" role="button" routerLink="/login"> Sign In</a>
                        </li>
                        <li>
                            <a class="nav-link" role="button" routerLink="/signup"> Sign Up</a>
                        </li>
                    </ng-template>
                </ul>
            </span>
        </div> -->
    </nav>
</div>