div {
    width: auto;
    padding: 5vw;

    border-radius: 25px;
    box-shadow: 10px 10px 20px 1px lightgrey;    
    
    margin-left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
}

h2 {
    margin-bottom: 3vw;
}

button {
    width: 80%;
    margin: 0.5vw;
}