<div class="modal-header">
    <h5>Are you sure you want to <span class="text-danger">delete</span> this account?</h5>
    <button type="button" class="btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>

<div class="modal-body">
    <p>
        All information associated with <strong>{{ name }} ({{ role }})</strong> will be permanently deleted.
        <span class="text-danger">This operation cannot be undone!</span>
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('No click')">No</button>
    <button type="button" class="btn btn-danger" (click)="deleteUser()" ngbAutofocus>Delete</button>
</div>